<template>
  <div id="vehicle-list">
    <h3>List Vehicles</h3>
    <el-table :data="vehicles" border height="80vh">
      <el-table-column prop="id" label="ID"></el-table-column>
      <el-table-column prop="name" label="Name"></el-table-column>
      <el-table-column
        prop="engine_displacement"
        label="Engine Displacement"
      ></el-table-column>
      <el-table-column
        prop="engine_power"
        label="Engine Power"
        width="120"
      ></el-table-column>
      <el-table-column prop="price" label="Price" width="120"></el-table-column>
      <el-table-column
        prop="location"
        label="Location"
        width="120"
      ></el-table-column>
    </el-table>
  </div>
</template>

<style>
@import "./index.styl";
</style>
<script src="./index.logic.js" />
