<template>
  <div id="vehicle-form">
    <h3>Create Vehicle</h3>
    <el-form
      class="form-container"
      ref="formData"
      :model="formData"
      :rules="formRules"
      label-width="12vw"
    >
      <el-form-item label="Vehicle name" prop="name">
        <el-input v-model="formData.name"></el-input>
      </el-form-item>
      <el-form-item label="Engine Displacement" required>
        <el-col :span="7">
          <el-form-item prop="engineDispValue">
            <el-input-number
              v-model="formData.engineDispValue"
              :controls="false"
              controls-position="right"
              :precision="2"
              style="width: 100%;"
            ></el-input-number>
          </el-form-item>
        </el-col>
        <el-col :span="17">
          <el-select v-model="formData.engineDispUnit" style="width: 100%;">
            <el-option label="Liters (L)" value="liters"></el-option>
            <el-option
              label="Cubic cm (cc)"
              value="cubic centimeters"
            ></el-option>
            <el-option
              label="Cubic in (cu in)"
              value="cubic inches"
            ></el-option>
          </el-select>
        </el-col>
      </el-form-item>
      <el-form-item label="Engine Power" prop="enginePower">
        <el-input
          v-model="formData.enginePower"
          placeholder="i.e. 200W"
        ></el-input>
      </el-form-item>
      <el-form-item label="Price" prop="price">
        <el-input v-model="formData.price" placeholder="i.e. $200"></el-input>
      </el-form-item>
      <el-form-item label="Location" prop="location">
        <el-input
          v-model="formData.location"
          placeholder="i.e. Philippines"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">Create</el-button>
        <el-button @click="clear">Clear</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<style>
@import "./index.styl";
</style>
<script src="./index.logic.js" />
